<!-- <h1 style="margin-left:auto;margin-right:auto;" class="md-display-3" flex="20">About</h1>
<hr> -->
<div layout="row" layout-align="space-around start" class="wide" layout-xs="column" flex-offset-xs="25" flex-xs="100"  style="margin-top:7%;">

    <div flex-offset="10" flex="50">
        <a ng-href="https://www.facebook.com/BachataRev/" style="text-decoration:none;" target="blank">
            <img class="yo" ng-src="assets/img/yoSmall.jpg" />
        </a>
    </div>

    <div flex class="mobile-fer-ali" layout-align="center center" style="margin-left:-10%; max-width:40%;" layout="column">

        <div class="mobile-fer-ali">

            <h5 class="md-headline" md-colors="{color: 'primary-900'}" style="text-align:center;">Fernando</h5>
            <hr style="margin-top:-15px;">
            <p md-colors="{color: 'primary-600'}" layout-padding layout-margin layout-fill style="max-width:80%;margin-left:10%;">
                Fernando is of Spanish and Dominican descent and began his journey as a Bachata dancer in the city of London, where he was able to experience Bachata in the form of dance.  As a result of living in such a exuberant city he was able learn from some of the top teachers in the U.K, namely Daniel & Pebbles, Sol and Laura, and international such as Ataca & Alemana and Luis & Andrea. Fernando came into contact with Alijca in Cardiff whilst looking for a dance partner to help him to grow bachata in Cardiff. Alijca despite not having experience with bachata dancing or the music she quickly learned thanks to her experience in the dance scene.

            </p>
       </div>

        <div class="mobile-fer-ali">
            <h5 class="md-headline" md-colors="{color: 'primary-900'}" style="text-align:center;">Alicja</h5>
            <hr style="margin-top:-15px;">
            <p md-colors="{color: 'primary-600'}" layout-padding layout-margin layout-fill style="max-width:80%;margin-left:10%;">
                Alicja is a dance hall dancer from Poland that begun her journey as a dancer in Cyprus, where she was drawn to the Jamaican rhythm. Coming from a techno/electronic background (her father and sister are DJs) dance hall gave her the insight to open up other dances and music genres making her well versed when it comes to understanding music. Alicja experienced bachata for the first time in Cardiff where she met Fernando. And was able to quickly learn the concepts of bachata and apply her own experience of dance to develop her unique style

            </p>
        </div>
    </div>

</div>
