<h1 style="margin-left:auto;margin-right:auto;" class="md-display-3" flex="20">The Team</h1>
<hr>
<div layout="row" layout-align="center center" layout-xs="column" layout-sm="column" layout-md="column" style="padding-top:60px;margin-left:38%">

    <div flex><a ng-href="https://www.facebook.com/BachataRev/"><img class="circular hvr-grow" ng-src="assets/img/yo.jpg" /><h3 class="lnk md-headline" style="margin-left:7%;">Fernando & Alice</h3></a></div>
</div>

<h1 style="margin-left:auto;margin-right:auto;" class="md-display-3" flex="30">Past Members</h1>
<hr>
<div layout="row" layout-align="start center" layout-xs="column" layout-sm="column" layout-md="column" style="padding-top:60px;margin-left:20%;">

    <div flex><img class="circular hvr-grow" ng-src="assets/img/djjay.jpg" /><h3 class="lnk md-headline" style="margin-left:120px;">DJ Jay</h3></div>
    <div flex><img class="circular hvr-grow" ng-src="assets/img/michaelAnnabel.png" /><h3 class="lnk md-headline" style="margin-left:60px;">Michael & Annabel</h3></div>
</div>
