<div class="" style="text-align:center;margin-top:10%;">

    <h1 class="md-display-2" style="margin-left:auto;margin-right:auto;" flex="45">Contact Bachata Revelation</h1>
    <hr>
    <div md-colors="{color: 'primary-600'}">

        <h4 class="md-display-1">Feel free to email us regarding any queries you may have, or just to say hello!</h4>
        <p><a href="mailto:revelationBachata@gmail.com" class="lnk">RevelationBachata@gmail.com</a></p>

    </div>
    <md-button ng-href="https://www.facebook.com/BachataRev/" target="_blank" class=" md-hue-2 md-accent md-raised">
        <!-- <i class="fa fa-facebook fa-fw"></i> -->
        <ng-md-icon icon="facebook" style="fill: white" size="20"></ng-md-icon><span class="network-name">Facebook</span>

    </md-button>

    <md-button ng-href="https://twitter.com/bachataRev" target="_blank" class=" md-hue-2 md-accent md-raised">
        <ng-md-icon icon="twitter" style="fill: white" size="20"></ng-md-icon><span class="network-name">Twitter</span>

    </md-button>
    <md-button ng-href="https://plus.google.com/u/1/115651706701515267065" target="_blank" class=" md-hue-2 md-accent md-raised">
        <ng-md-icon icon="google-plus-box" style="fill: white" size="20"></ng-md-icon><span class="network-name">Google+</span>

    </md-button>

</div>
