<div class="" style="text-align:center;margin-top:10%;">

    <h1 class="md-display-2" style="margin-left:auto;margin-right:auto;" flex="45">Contact Bachata Revelation</h1>
<hr>
    <h4 class="md-display-1">Feel free to email us regarding any queries you may have, or just to say hello!</h4>
    <h4><a href="mailto:revelationBachata@gmail.com" class="lnk">RevelationBachata@gmail.com</a></h4>


                <md-button href="https://www.facebook.com/BachataRevelationCardiff/?fref=ts" class=" md-hue-2 md-accent md-raised">
                    <i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span>
                </md-button>

                <md-button href="http://bachatarevelation.blogspot.co.uk/" class=" md-hue-2 md-accent md-raised">
                    <i class="fa fa-facebook fa-fw"></i> <span>Blog</span>
                </md-button>
                <md-button href="https://plus.google.com/u/1/115651706701515267065" class=" md-hue-2 md-accent md-raised">
                    <i class="fa fa-facebook fa-fw"></i> <span>Google+</span>
                </md-button>

</div>
