<div class="intro">
    <!-- <img class="centering" margin-right:auto;" ng-src="assets/img/bachataRevelation.jpg" /> -->
    <div class="" style="margin-left:18%;margin-right:auto;margin-top:20%;">

    <h1 class="bachataRevelation md-display-4" flex="">Bachata Revelation<h1>

        <md-button aria-label="goToAbout" ng-click="vm.goToAbout()" class="md-fab" style="margin-bottom:10px;margin-left:35%;">
                <md-icon md-svg-src="assets/svg/chevron-down.svg"></md-icon>
       </md-button>


    </div>
</div>
