<div class="intro">

    <div class="" style="margin-left:20%;margin-right:auto;margin-top:15%;">

    <h1 class="md-display-4" hide show-gt-sm flex="">What is Bachata?<h1>
    <h2 class="md-display-2" style="margin-left:10%;" hide-gt-sm >What is Bachata?</h2>

        <!-- <div layout="row" style="text-align:center; margin-left:7%; margin-right:10%; margin-top:-7%;color:#959594" class="md-display-1">
            <div class="" style="padding-right:10%">
                <p>Bachata Sensual</p>
            </div>
            <div class="" style="padding-left:5%">
                <p>Bachata Tradicional</p>
            </div> -->

        </div>

        <div class="md-display-1" layout="column" md-colors="{color: 'primary-600'}" style="margin-left:31%;margin-top:-5%;">
            <p>A social dance not a choreography</p>
        </div>


        <md-button aria-label="goToAbout" ng-click="vm.goToAbout()" class="md-fab" style="margin-bottom:10px;margin-left:48%;">
                <md-icon md-svg-src="assets/svg/chevron-down.svg"></md-icon>
       </md-button>

       <!-- <md-button class="md-raised inverse" ng-click="vm.goToAbout" aria-label="link to about page" md-ripple-size="full">
           Discover Real Bachata
       </md-button> -->


    </div>
</div>
