<div flex-xs flex-gt-xs="90" layout="column" style="max-width:40%;margin-left:auto;margin-right:auto;">
    <md-card>
        <img ng-src="{{article.imageUrl}}" class="md-card-image" alt="Thumbnail of article">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{article.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p md-colors="{color: 'primary-600'}">
            {{article.summary}}
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-accent" ng-click="vm.blogInfo(article.id)">More info</md-button>
        </md-card-actions>
      </md-card>
 </div>
