<md-card flex  class="md-whiteframe-4dp">


    <img ng-src="{{event.imageUrl}}" style="max-height:200px;" flex class="md-card-image card-media"></img>
    <hr style="width:99.7%;margin-top:0px;" md-colors="{color: 'red-A100', 'border-color': 'primary-600'}">
    <div layout="row">
        <md-card-title flex >

            <md-card-title-text layout="column" flex layout-align="space-between start" flex md-colors="{color: 'primary-600'}">
                <h5 class="md-headline" style="margin-left:auto;margin-right:auto;margin-top:-15px;margin-bottom:-5px;">{{event.name}}</h5>

                <div class="" flex-offset-gt-xs="20" layout="row" layout-align="space-around start">
                    <p flex class="md-title" style="padding-left:50px;padding-right:50px;">Date:</p>
                    <p flex class="md-title" style="padding-left:50px;padding-right:50px;">Time: </p>
                    <p flex class="md-title" style="padding-left:50px;padding-right:50px;">Location: </p>
                </div>

                <div class="" flex-offset-gt-xs="20" style="margin-top:-30px;margin-bottom:-20px;overflow:hidden;text-align:center;" layout="row" layout-align="space-between start">
                    <p class="md-subhead" style="padding-left:50px;padding-right:50px;">{{event.date | date: 'dd/MM/yyyy'}}</p>
                    <p class="md-subhead" style="padding-left:38px;padding-right:45px;">{{event.time}}</p>
                    <p class="md-subhead" style="">{{event.location.address}}, {{event.location.city}}</p>
                </div>

            </md-card-title-text>
        </md-card-title>
        <!-- <md-card-title-media flex="25" style="padding-right:15px; padding-top:30px;">
          <img ng-src="{{event.imageUrl}}" class="md-media-lg card-media"></img>
        </md-card-title-media> -->
   </div>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-accent" ng-click="vm.eventInfo(event.id)">More info</md-button>
  </md-card-actions>
</md-card>
